
@import '../bower_components/bootstrap/less/bootstrap.less';
@import '../bower_components/bootstrap/less/theme.less';

@import (less) '../bower_components/codemirror/lib/codemirror.css';
@import (less) '../bower_components/codemirror/theme/lesser-dark.css';
@import (less) '../bower_components/codemirror/addon/lint/lint.css';
            
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

#coffeelint {
    // Need this to make the lint gutter show up.
    margin-left: 1%;
}

.editor {
    .make-sm-column(6);

    background-color:#111;
    min-height:250px;
    color:#339933;
    font-family:monospace;
    font-size:16px;
    font-weight:normal;
    resize:none;
    outline:none;
    border:none;
}

.output {
    & > div {
        .tab-content();

        & > div {
            .tab-pane();

            // JS needs the fade class, I guess to figure out if `in` needs to
            // move?
            // .fade();

            // Moving the `in` class here will allow the content to be seen, but
            // the transition breaks.
            /*
            &.active {
                .in();
            }
            */
        }
    }
}

.token-table {
    .table();
    .table-striped();
    .table-hover();

}


table.report {
    .table();
    .table-striped();
    .table-hover();

    tr.error {
        background-color: @brand-danger
    }
    tr.warn {
        background-color: @brand-warning
    }

    td.message {
        white-space: pre;
        font-family: @font-family-monospace
    }
} 

.CodeMirror {
  border: 1px solid #eee;
  height: auto;
}
.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}

.token-value {
    max-width: 500px;
    overflow-x: auto;
    word-wrap: normal;
    white-space: pre;
}
